<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>oauthclients</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FacebookClient</display-name>
    <servlet-name>FacebookClient</servlet-name>
    <servlet-class>clients.FacebookClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookClient</servlet-name>
    <url-pattern>/FacebookClient</url-pattern>
    <url-pattern>/FacebookClient/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizationCodeClient</display-name>
    <servlet-name>AuthorizationCodeClient</servlet-name>
    <servlet-class>clients.AuthorizationCodeClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationCodeClient</servlet-name>
    <url-pattern>/AuthorizationCodeClient</url-pattern>
    <url-pattern>/AuthorizationCodeClient/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImplicitClient</display-name>
    <servlet-name>ImplicitClient</servlet-name>
    <servlet-class>clients.ImplicitClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImplicitClient</servlet-name>
    <url-pattern>/ImplicitClient</url-pattern>
    <url-pattern>/ImplicitClient/*</url-pattern>
  </servlet-mapping>
</web-app>